.start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.background-screen {
  background-image: url(./images/backgroundGame.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}

.start-screen {
  background-image: url(../images/Start-page.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 600px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.GameOver-screen {
  background-image: url(../images/GAMEOVERpage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}

.Win-screen {
  background-image: url(../images/GAMEOVERpage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}

.btn-start {
  margin-bottom: 50px;
  font-size: 30px;
  width: 200px;
  height: 70px;
  box-shadow: 3px 3px 11px black;
}

.hidden {
  display: none;
}

/* .game-over {
} */

#ruche {
  background: url("../images/ruche.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: bounce 0.25s ease infinite alternate;
  width: 100%;
  height: 150px;
}

@keyframes bounce {
  from {
    top: -60px;
  }
  to {
    top: -50px;
  }
}

.top {
  display: flex;
}

.bottom {
  display: flex;
  justify-content: center;
}

#TitlePage {
  background: url("../images/Title-Ninja-Bee.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: fontbulger 1s infinite;
}

@keyframes fontbulger {
  0% {
    background-size: 90%;
  }
  30% {
    background-size: 95%;
  }
  100% {
    background-size: 100%;
  }
}

#automat-Bees {
  background: url("../images/BeeLtoR.png");
  position: absolute;
  display: flex;
  opacity: 0.5;
  background-size: contain;

  width: 30px;
  height: 30px;
  margin-left: 600px;
  margin-top: 250px;
  animation: move 3s steps(1000) infinite;
}

#automat-Bees1 {
  background: url("../images/BeeLtoR.png");
  position: absolute;
  opacity: 0.5;
  display: flex;
  background-size: contain;

  width: 30px;
  height: 30px;
  margin-left: 600px;
  margin-top: 250px;
  animation: move 5s steps(1000) infinite;
}

#automat-Bees3 {
  background: url("../images/BeeLtoR.png");
  position: absolute;
  display: flex;
  background-size: contain;
  opacity: 0.5;

  width: 30px;
  height: 30px;
  margin-left: 600px;
  margin-top: 250px;
  animation: move 8s steps(1000) infinite;
}
@keyframes move {
  from {
    left: -400px;
    top: 60px;
  }
  to {
    left: 500px;
    top: 200px;
  }
}

.none {
  visibility: hidden;
}

.ninja-bees {
  background-image: url(../images/backgroundGame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
